body {
  font-family: Arial, sans-serif;
  background-color: #e0f8f1;
  margin: 1rem;
  padding: 0;
}

h1 {
  font-weight: bold;
  font-size: 5rem;
  line-height: 9rem;
}

h2,
h3 {
  color: #333;
  font-weight: bold;
  line-height: 3rem;
}

section {
  color: blueviolet;
}

p2 {
  line-height: 3rem;
}
